@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin button-hover($baseColor, $hoverColor, $hoverTextColor){
    background: linear-gradient(to left,$baseColor 50%,$hoverColor 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;

    &:hover{
        background-position: left bottom;
        color: $hoverTextColor;
        transition: all .5s ease;
     }
}

$primaryColor: #01254f;

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.banner{
    margin-bottom: 120px;

    >img{
        width: 100%;
        height: 600px;
        top: 0;
        left: 0;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }
    >div{
        max-width: 1240px;
        margin: auto;

        .header{
            @include flex(space-between, center);
            padding: 16px 30px;
            margin-bottom: 100px;

            .logo{
                height: 45px;
            }            
            button{
                color: $primaryColor;
                width: 158px;
                height: 48px;
                font-size: 16px;
                font-weight: 700;
                border: none;
                outline: none;
                @include button-hover(#fff, #f2f2f2, $primaryColor);
            }
        }
        .typeform{
            background: #fff;
            width: 780px;
            height: 480px;
            margin: auto;
            border-radius: 5px;
            box-shadow: 0px -4px 12px rgba(107, 107, 107, 0.25), 0px 2px 24px rgba(132, 132, 132, 0.25);
        }
    }

    @media only screen and (max-width: 780px){
        margin-bottom: 80px;

        >img{
            display: none;
        }
        >div{
            .header{
                background: $primaryColor;
                margin-bottom: 80px;
                
                button{
                    width: 200px;
                }
            }
            .typeform{
                width: 100%;
                box-shadow: none;
            }
        }
    }

    @media only screen and (max-width: 420px){
        margin-bottom: 30px;

        >div{
            .header{
                margin-bottom: 50px;
                                
                button{
                    width: 140px;
                    font-size: 14px;
                }
            }
            .typeform{
                height: 300px;
            }
        }
    }
}

.belt{
    @include flex(center, center);
    background: #f2f2f2;

    >div{
        @include flex(space-between, center);
        max-width: 1150px;
        width: 100%;
        margin: auto;
        padding: 75px 72px;

        >p{
            color: $primaryColor;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            max-width: 640px;
            margin-right: 50px;
        }
        >button{
            @include button-hover($primaryColor, #013b81, #fff);

            color: #fff;
            font-weight: 700;
            width: 220px;
            height: 52px;
            flex-shrink: 0;
            border: none;
            border-radius: 2px;
        }
    }

    @media only screen and (max-width: 780px){
        >div{
            flex-direction: column;
            padding: 80px 15px;

            >p{
                margin-right: 0;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 420px){
        >div{
            padding: 40px 15px;

            >p{
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

.widgets{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 120px 0;

    h2{
        color: #000;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .widgets-subtitle{
        color: #000;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .widgets-wrapper{
        @include flex(center, center);
        flex-wrap: wrap;
        margin-bottom: 30px;

        >div{
            margin: 10px;
            box-shadow: 2px 2px 6px rgba(108, 108, 108, 0.5);
            border-radius: 4px;
        }
    }
    >p{
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        margin-bottom: 40px;
    }
    button{
        margin: 0 20px;
        width: 218px;
        height: 50px;
        font-weight: 700;        
        border: 1px solid $primaryColor;
        border-radius: 2px;
    }
    .live-btn{
        @include button-hover($primaryColor, #013b81, #fff);
        color: #fff;
    }
    .demo-btn{
        @include button-hover(#fff, rgba(0, 0, 0, 0.05), $primaryColor);
        color: $primaryColor;        
    }

    @media only screen and (max-width: 1024px){
        max-width: 600px;
    }
    
    @media only screen and (max-width: 768px){
        padding: 80px 0;
        .widgets-wrapper{
            margin-bottom: 10px;            
        }
    }

    @media only screen and (max-width: 520px){
        h2{
            margin-bottom: 12px;
        }
        .widgets-subtitle{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .widgets-wrapper{
            margin: auto;
            max-width: 310px;
        }
        >p{
            margin: 0 10px 20px;
        }
        button{
            width: 93%;
            margin: 10px 0;
        }
    }
}

.footer{
    background: $primaryColor;
    color: #fff;

    >div{
        max-width: 1240px;
        margin: auto;
        padding: 80px 50px;

        p{
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        p:last-of-type{
            text-align: center;
        }
    }

    @media only screen and (max-width: 768px){
        >div{
            padding: 80px 30px;

            p{
                font-size: 16px;
            }
        }
    }

    @media only screen and (max-width: 420px){
        >div{
            padding: 40px 15px;

            p{
                font-size: 12px;
            }
        }
    }
}